In [ ]:
a=10
b=3
print("addition:",a+b)
print("subtraction:",a-b)
print("multiplication:",a*b)
print("division:",a/b)
print("modulus division:",a%b)
print("floor division:",a//b)
print("exponent:",a**b)

addition: 13
subtraction: 7
multiplication: 30
division: 3.3333333333333335
modulus division: 1
floor division: 3
exponent: 1000

In [ ]:
x=5
y=8
print("x==y:",x==y)
print("x!=y:",x!=y)
print("x>y:",x>y)
print("x<y:",x<y)
print("x>=y:",x>=y)
print("x<=y:",x<=y)

x==y: False
x!=y: True
x>y: False
x<y: True
x>=y: False
x<=y: True

In [ ]:
x=5
y=8
print("x==y:",x==y)
print("x!=y:",x!=y)
print("x>y:",x>y)
print("x<y:",x<y)
print("x>=y:",x>=y)
print("x<=y:",x<=y)

x==y: False
x!=y: True
x>y: False
x<y: True
x>=y: False
x<=y: True

In [ ]:
x=5
y=8
print("x==y:",x==y)
print("x!=y:",x!=y)
print("x>y:",x>y)
print("x<y:",x<y)
print("x>=y:",x>=y)
print("x<=y:",x<=y)

x==y: False
x!=y: True
x>y: False
x<y: True
x>=y: False
x<=y: True

In [ ]:
x=5
y=8
print("x==y:",x==y)
print("x!=y:",x!=y)
print("x>y:",x>y)
print("x<y:",x<y)
print("x>=y:",x>=y)
print("x<=y:",x<=y)

x==y: False
x!=y: True
x>y: False
x<y: True
x>=y: False
x<=y: True

In [ ]:
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)

15
5
50
2.0

In [ ]:
a=int(input("enter the number: "))
for i in range(1,11):
  print(f"{a}*{i}={a*i}")

enter the number: 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [ ]:
name="aswan"
age=18
course="eletrical"
print(f"\n student info:\nname:{name}\nage:{age}\ncourse:{course}")

 student info:
name:aswan
age:18
course:eletrical

In [ ]:
a=int(input("enter the number:"))
b=int(input("enter the number:"))
print(f"a+=5:{a+=5}")
print(f"a-=5:{a-=3}")
print(f"a*=5:{a*=5}")
print(f"a/=5:{a/=5}")
print(f"a%=5:{a%=5}")

enter the number:5
enter the number:4
a+=5:10
a-=3:2
a*=5:25
a/=5:1.0
a%=5:0

In [ ]:
# Method 1: Using a temporary variable
x = 10
y = 5
print(f"Before swapping (using temp variable): x = {x}, y = {y}")

temp = x
x = y
y = temp
print(f"After swapping (using temp variable): x = {x}, y = {y}")

# Method 2: Using tuple packing and unpacking (Pythonic way)
a = 20
b = 15
print(f"\nBefore swapping (using tuple): a = {a}, b = {b}")

a, b = b, a
print(f"After swapping (using tuple): a = {a}, b = {b}")

Before swapping (using temp variable): x = 10, y = 5
After swapping (using temp variable): x = 5, y = 10

Before swapping (using tuple): a = 20, b = 15
After swapping (using tuple): a = 15, b = 20

In [ ]:
name="aswan"
age=17
course="mechanical"
print(f"\n student info:\nname:{name}\nage:{age}\n
course:{corse}")

In [ ]:
a=int(input("enter the number:"))
b=int(input("enter the number:"))
print(f"a&b:{a&b}")
print(f"a|b:{a|b}")
print(f"a^b:{a^b}")
print(f"a~b:{a~b}")
print(f"a<<b:{a<<b}")
print(f"a>>b:{a>>b}")

SyntaxError: f-string: invalid syntax. Perhaps you forgot a comma? (ipython-input-2838099693.py, line 6)

In [ ]:
fruits=["apple","banana","cherry"]
print("banana in fruits:","banana" in fruits)
print("mango not in fruits:","mango" not in fruits)
print("mango in fruits:","mango" in fruits)

banana in fruits: True
mango not in fruits: True
mango in fruits: False

In [ ]:
a=int(input("enter a number"))
b=int(input("enter b number"))
print("a and b:",a and b)
print("a or b:",a or b)
print(" not b:",not b)
print("not a:",not a)

enter a number0
enter b number1
a and b: 0
a or b: 1
 not b: False
not a: True

In [ ]:
weight=float(input("enter weight(kg)"))
height=float(input("enter height(cm)"))
bmi=weight/(height**2)
print("bmi:",bmi)
if bmi<18.5:
  print("under weight")
elif bmi<24.9:
  print("normal weight")
elif bmi<29.9:
  print("over weight")
else:
  print("obsuse")

enter weight(kg)155
enter height(cm)55
bmi: 0.0512396694214876
under weight

In [ ]:
def factorial(n):
  """Calculates the factorial of a non-negative integer using recursion."""
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

# Example usage:
num = 5
print(f"The factorial of {num} is {factorial(num)}")

The factorial of 5 is 120

In [ ]:
import numpy as np


array1 = np.array([[1, 2], [3, 4]])
array2 = np.array([[5, 6], [7, 8]])

print("Array 1:\n", array1)
print("Array 2:\n", array2)
element_wise_multiplication = array1 * array2
print("\nElement-wise multiplication:\n", element_wise_multiplication)

matrix_multiplication = array1 @ array2  # or np.dot(array1, array2)
print("\nMatrix multiplication:\n", matrix_multiplication)

Array 1:
 [[1 2]
 [3 4]]
Array 2:
 [[5 6]
 [7 8]]

Element-wise multiplication:
 [[ 5 12]
 [21 32]]

Matrix multiplication:
 [[19 22]
 [43 50]]